body {
  text-align: center;
  background: linear-gradient(to right, #0f2027, #203a43);
  color: white;
  transition: background 0.5s, color 0.5s;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}
h2{
    font-weight: bold;
}

h4{
    font-weight: bold;
}
.main-section {
  display: flex;
  flex-direction: row; /* Ensure horizontal layout */
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  gap: 40px; /* Adds space between video and instructions */
}
video {
    width: 0px;
    height: 0px;
}
canvas{
    width: 900px;
    height: 640px;
}
.description-box {
  flex: 1;
  max-width: 35%;
  margin-left: 0;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 10px;
  font-size: 1.7rem;
}

table {
    width: auto;
    margin: auto;
}

tr,
td {
    border: 0px;
    text-align: center;
}